<% provide :title, "Edit #{@collection.name}" %>
<% provide :site_section, "0" %>

<h1>Edit list</h1>

<div class="row">
	<div class="span6 offset3">
		<%= nested_form_for(@collection) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :description %>
			<%= f.text_field :description %>
			<br>
			<%= f.fields_for :exhibits do |builder| %>
				<%= render 'exhibit_fields', f: builder %>
			<% end %>
			<br>
			<%= f.link_to_add "Add", :exhibits %>
			<br>
			<%= f.submit "Save", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>