<%= provide :title, @collection.name %>
<% provide :site_section, "0" %>


<div class="content">
	<h1><%= @collection.name %>
	<% unless @collection.user.nil? %>
		<%= separator_symbol %> by <%= @collection.user.name %>
	<% end %>
	</h1>
</div>

<div class="content">
	<p><%= simple_format @collection.description %></p>
</div>

<div class="content">
	<% if @exhibits.any? %>
		<ul class="items">
			<% @exhibits.each do |exhibit| %>
				<% if exhibit.explanation.blank? %>
					<%= render exhibit.item %>
				<% else %>
					<%= render exhibit.item, item_text: exhibit.explanation %>
				<% end %>
			<% end %>
		</ul>
	<% else %>
		<p>This list is empty!</p>
	<% end %>
</div>
