<%= provide :title, @collection.name %>

<h1><%= @collection.name %>
<% unless @collection.user.nil? %>
 <%= separator_symbol %> by <%= @collection.user.name %>
<% end %>
</h1>

<div class="panel panel-default panel-explanation">
	<p><%= simple_format @collection.description %></p>
</div>
<ul class="items">
	<% @exhibits.each do |exhibit| %>
		<% if exhibit.explanation.blank? %>
			<%= render exhibit.item %>
		<% else %>
			<%= render exhibit.item, item_text: exhibit.explanation %>
		<% end %>
	<% end %>
</ul>