<% provide :title, 'About' %>
<% provide :site_section, '3' %>

<div class="content">
	<h1>About</h1>
</div>

<div class="content">
	<h2>What we do</h2>
	<p>	
	The Cambridge University Science Fiction Society (CUSFS - pronounced "cuss-fuss") is here to do science fiction and fantasy-related things of any and all description in Cambridge. We're a bustling community of both students and those not affiliated with the University, and we aim to provide a friendly, accessible, and tolerant environment for all a manner of activities.
	<br>
	The only constant on the CUSFS calendar is the weekly <%= link_to "discussion meeting", discussions_path %>. These meetings are all on a particular topic, broad enough that everyone can contribute, regardless of what they have or haven't read. They meander around, flirt with the topic at hand, then usually veer off a cliff. Nonetheless, they are lots of fun and are definitely the place to go for actual, concerted discussion of science fiction and fantasy. In addition to these, we do lots of other things, largely as the mood strikes us: <%= link_to "film nights", screenings_path %>, <%= link_to "pub meets", pub_meets_path %>, picnic lunches, all-night US election parties, the occasional <%= link_to "external speakers in to talk", speakers_path %> and so forth. There is also an <%= link_to "end-of-term games evening", games_nights_path %> and an <%= link_to "annual dinner", '#veizla' %>. We also have a <%= link_to "library", items_path %>.<br>

	We like to think we're not very scary. Feel free to come along to exactly as many events as you think you're interested in - we don't mind if you've never been before and decide to show up in the middle of the year, and we certainly don't mind if you're not an official member. If you have any interest at all in SFF, you'll certainly find something to interest you!
	</p>
</div>

<div class="content">
	<h2>Welome and Welfare</h2>
	<p>
	CUSFS hopes to provide a general purpose safer space for anyone who wishes to join. If you have any questions or comments about welfare in CUSFS, particularly if you have requests or suggestions for improvement, please contact any member of the committee. We are always happy to talk and try to make things better.
	<br>
	Our regular meetings and film nights are wheelchair accessible. Unfortunately our current library location has only a small lift and is quite cramped. If you wish to use the library but think access might be a problem, please contact our librarian, who can arrange to meet you with books at a more convenient place.
	</p>
</div>
