<% provide :title, "Committee" %>
<% provide :site_section, "3" %>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Committee</div>
  <%= will_paginate @committees %>
  <div class="panel-body">
    <p>The CUSFS Committee for <%= @committees.first["year"] %> <%= @committees.first[:current] ? "is" : "was" %>:</p>
  </div>
  <!-- Table -->
  <table class="table">
	<tr><td class="committee-position">Chairbeing:</td><td><%= @committees.first["Chairbeing"] %></td></tr>
	<tr><td class="committee-position">Secretary:</td><td><%= @committees.first["Secretary"] %></td></tr>
	<tr><td class="committee-position">Librarian:</td><td><%= @committees.first["Librarian"] %></td></tr>
	<tr><td class="committee-position">Junior Treasurer:</td><td><%= @committees.first["Treasurer"] %></td></tr>
	<tr><td class="committee-position">Membership Secretary:</td><td><%= @committees.first["Memsec"] %></td></tr>
	<tr><td class="committee-position">TTBA Editor:</td><td><%= @committees.first["TTBA"] %></td></tr>
  </table>
	Contact the committee as a whole at <%= link_to "soc-cusfs [at] lists dot cam [dot] ac [dot] uk", "mailto:soc-cusfs@lists.cam.ac.uk" %>.</p>
</div>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Committee</div>
  <div class="panel-body">
    <p>The Reeve of <%= link_to "Jomsborg", history_path %> and their companions for <%= @committees.first["year"] %> <%= @committees.first[:current] ? "are" : "were" %>::</p>
  </div>

  <!-- Table -->
  <table class="table">
  <tr><td class="committee-position">Reeve:</td><td><%= @committees.first["Reeve"] %></td></tr>
  <tr><td class="committee-position">Runecaster:</td><td><%= @committees.first["Runecaster"] %></td></tr>
  <tr><td class="committee-position">Geldjarl:</td><td><%= @committees.first["Geldjarl"] %></td></tr>
  <tr><td class="committee-position">Meadkeeper:</td><td><%= @committees.first["Meadkeeper"] %></td></tr>
  <tr><td class="committee-position">Bard:</td><td><%= @committees.first["Bard"] %></td></tr>
  </table>
</div>

TODO vice-presidents here!