<% provide :title, "Links" %>
<% provide :site_section, "3" %>

<div class="content">
	<h1>Useful links</h1>
</div>

<div class="content">
	<h2>Internal links:</h2>
	<ul class="items">
		<li><%= link_to "http://tolkien.soc.ucam.org/", "http://tolkien.soc.ucam.org/" %> - Cambridge Tolkien Society</li>
		<li><%= link_to "http://whosoc.soc.srcf.net/", "http://whosoc.soc.srcf.net/" %> - Cambridge University Doctor Who Society</li>
		<li><%= link_to "http://www.camlarp.co.uk/Main_Page", "http://www.camlarp.co.uk/Main_Page" %> - Cambridge University LARP Society</li>
		<li><%= link_to "http://altwelcome.soc.srcf.net/", "http://altwelcome.soc.srcf.net/" %> - Cambridge Safer Space Societies</li>
	</ul>
</div>

<div class="content">
	<h2>External links</h2>
	<ul class="items">
		<li><%= link_to "http://www.flintheath.org.uk/", "http://www.flintheath.org.uk/" %> - Cambridge chapter of the Society for Creative Anachronism</li>
		<li><%= link_to "https://www.union.ic.ac.uk/scc/icsf/", "https://www.union.ic.ac.uk/scc/icsf/" %> - Imperial College SFF society</li>
		<li><%= link_to "http://users.ox.ac.uk/~ousfg/", "http://users.ox.ac.uk/~ousfg/" %> - Oxford University Speculative Fiction Group</li>
		<li><%= link_to "http://www.ifis.org.uk/", "http://www.ifis.org.uk/" %> - The Institute for Impure Science (Royal Holloway Science Fiction and Fantasy Society)</li>
	</ul>
</div>
