<% provide(:title, "Search results") %>
<% provide :site_section, "3" %>

<div class="content">
	<h1>Search<%= " results for \"#{params[:q]}\"" unless params[:q].nil? %></h1>
</div>

<div class="content">
	<%= render 'static_pages/mega_search' %>
</div>

<% unless params[:q].nil? %>

	<div class="content content-mini">
		<div class="panel-body">
			Skip to <%= link_to "items (#{@items.length.to_s} #{"result".pluralize(@items.length)})", '#items-section' %>
			 <%= separator_symbol %>
			  <%= link_to "authors (#{@authors.length.to_s} #{"result".pluralize(@authors.length)})", '#authors-section' %>
			  <%= separator_symbol %>
			   <%= link_to "series (#{@series.length.to_s} #{"result".pluralize(@series.length)})", '#series-section' %>
			    <%= separator_symbol %>
			     <%= link_to "people (#{@users.length.to_s} #{"result".pluralize(@users.length)})", '#users-section' %>
			    <%= separator_symbol %>
			     <%= link_to "creative (#{@creations.length.to_s} #{"result".pluralize(@creations.length)})", '#creations-section' %>
		</div>
	</div>

	<div class="content">
		<div class="item-results">
		<h2 id="items-section">Items (<%= @items.length.to_s+" result".pluralize(@items.length) %>)</h2>
		<% if @items.any? %>
			<ul class="items">
				<%= will_paginate @items, param_name: :items_page %>
				<%= render @items %>
			</ul>

		<% else %>
			No items found.
		<% end %>
		</div>
	</div>

	<% if @authors.any? %>
		<div class="content">
			<div class="author-results">
				<h2 id="authors-section">Authors (<%=  @authors.length.to_s+" result".pluralize(@authors.length) %>)</h2>
				<ul class="authors">
					<%= will_paginate @authors, param_name: :authors_page %>
					<%= render @authors %>
				</ul>
			</div>
		</div>
	<% end %>

	<% if @series.any? %>
		<div class="content">
			<div class="series-results">
			<h2 id="series-section">Series (<%=  @series.length.to_s+" result".pluralize(@series.length) %> results)</h2>
			<ul class="series">
				<%= will_paginate @series, param_name: :series_page %>
				<%= render @series %>
			</ul>
			</div>
		</div>
	<% end %>

	<% if @creations.any? %>
		<div class="content">
			<div class="creations-results">
				<h2 id="creations-section">TTBAs and other creative expression (<%=  @creations.length.to_s+" result".pluralize(@creations.length) %>)</h2>
				<ul class="creations">
					<%= will_paginate @creations, param_name: :creations_page %>
					<%= render @creations %>
				</ul>
			</div>
		</div>
	<% end %>

	<% if @users.any? %>
		<div class="content">
			<div class="users-results">
				<h2 id="users-section">People (<%= @users.length.to_s+" result".pluralize(@users.length) %>)<h2>
				<ul class="users">
					<%= will_paginate @users, param_name: :users_page %>
					<%= render @users %>
				</ul>
			</div>
		</div>
	<% end %>

<% if signed_in? %>
	<div class="content">
		<h2>Request a book</h2>
		Can't find what you're looking for in the Library? <%= link_to "Request we obtain a copy!", new_request_path %>
	</div>
<% end %>

<% end %>