<div class="panel panel-default">
  <div class="panel-body">
	<%= link_to "TTBA Magazine", ttba_path %> <%= separator_symbol %> <%= link_to "chainwriting", chainwriting_path %> <%= separator_symbol %> <%= link_to "art", art_path %>
  </div>
</div>