<% provide(:title, "Creative") %>
<% provide :site_section, "1" %>

<div class="content">
	<h1><%= @title %></h1>
</div>

<div class="content">
	<%= render 'media' %>
</div>

<div class="content">
	<p><%= @explanation.html_safe %></p>
</div>

<div class="content">
	<% if @creations.any? %>
		<%= will_paginate %>

		<ul class="creations">
			<%= render @creations %>
		</ul>

		<%= will_paginate %>
	<% else %>
		<p>Nothing found.</p>
	<% end %>
</div>