<% provide(:title, "Creative") %>
<% provide :site_section, "1" %>
<h1><%= @title %></h1>

<%= render 'media' %>

<p><%= @explanation.html_safe %></p>

<% if @creations.any? %>
	<%= will_paginate %>

	<ul class="creations">
		<%= render @creations %>
	</ul>

	<%= will_paginate %>
<% else %>
	<p>Nothing found.</p>
<% end %>