<% provide(:title, "TTBA") %>
<% provide :site_section, "1" %>
<h1>TTBA Magazine</h1>

<p>TTBA is the official CUSFS magazine. It dates, in some form or another, to 1974, when the title acronym stood for Title To Be Announced; nobody ever got around to said announcement, and now the acronym stands for something different every issue. The regularity of publication varies widely depending who is in charge, but usually we see between one and three editions per year.
<br>
The magazine consists of submissions from anybody - members or not - of virtually anything: stories, poetry, reviews, comics, analyses, art, and anything else that might tangentially be of interest to the society. If you're interested in contributing and thus bringing joy to the CUSFS world - which of course you are - email the <%= link_to "editor", committee_path %> at soc-cusfs-ttba (at) lists (dot) cam (dot) ac (dot) uk.
<br>
Past editions are indexed below. Coverage is quite patchy before about 2009 so if you know of or have access to any TTBAs from before that do get in touch - we'd love to have a look!
<% if @creations.any? %>
	<%= will_paginate %>

	<ul class="creations">
		<%= render @creations %>
	</ul>

	<%= will_paginate %>
<% else %>
No editions of TTBA found.
<% end %>

<%= render 'shared/back_button', path: creative_path %>