<% provide :title, "Edit author" %>
<% provide :site_section, "0" %>

<h1>Edit author</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@author) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.submit "Save", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>

<%= render 'shared/back_button', path: author_path(@author) %>