<li>
	<%= mini_avatar_for user %>
	<span class="user-name"><%= link_to user.name, user %></span> <%= separator_symbol %>
	<%= link_to "#{user.reviews.length} reviews", reviews_user_path(user) %> <%= separator_symbol %> <%= link_to "#{user.collections.length} lists", collections_user_path(user) %>
	<% if current_user.admin? %>
		<%= separator_symbol %>
		<%= link_to "#{user.withdrawals.length} books currently on withdrawal", withdrawals_user_path(user) %>
	<% end %>
	<span class="user-committee">
		<%= image_tag("committee_badge.png", size: '52x52') if user.admin? %>
	</span>
	<p><%= user.about_me %></p>
</li>
