<% if current_user.id == @user.id %>
  <% provide(:title, 'Edit') %>
  <h1>Edit settings</h1>
<% else %>
  <% provide(:title, 'Renew membership') %>
  <h1>Renew membership for <%= @user.name %></h1>
<% end %>
<% provide :site_section, '3' %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>

    <% if current_user.id == @user.id %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>

      <% end %>

      <% if current_user.admin? %>

        <%= f.label :membership_expiry, "Membership expiry date" %>
        <%= f.date_select :membership_expiry %>

      <% end %>
<br>
      <%= f.submit "Save", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>