<% provide :title, @user.name %>
<% provide :site_section, '3' %>

<div class="content">
	<h1><%= @user.name %>'s profile</h1>
</div>

<div class="content">
	<div class="row">

		<aside class="span2 item-show-main">
			<%= avatar_for @user %>

		</aside>

		<div class="span10 item-show-sidebar">
			<%= @user.about_me %><br>
			<%= link_to "Account settings", edit_user_path(@user) %><br>

			<% if current_user.admin? %>
				<%= link_to "Renew membership", renew_user_path(@user) %><br>
				<%= link_to "Delete", @user, method: :delete, data: {confirm: "Are you absolutely sure? This can't be undone!"} %>
			<% end %>

		</div>

	</div>
</div>

<% if current_user.id==@user.id || current_user.admin? %>
	<div class="content">
			<h2><%= link_to "Current withdrawals", withdrawals_user_path(@user) %></h2>
			<%= render 'withdrawals', withdrawals: @user.withdrawals %>

			<h2><%= link_to "Reservations", reservations_user_path(@user) %></h2>
			<%= render 'reservations', reservations: @user.reservations %>

			<h2><%= link_to "Requests", requests_user_path(@user) %></h2>
			<%= render 'requests', requests: @user.requests %>
	</div>
<% end %>

<div class="content">
	<h2><%= link_to "Reviews", reviews_user_path(@user) %></h2>
	<%= render 'reviews/reviews', reviews: @user.reviews %>
</div>

<div class="content">
	<h2><%= link_to "Collections and lists", collections_user_path(@user) %></h2>
	<%= render 'collections', collections: @user.collections %>
</div>