<div class="panel panel-default">
  <div class="panel-body">
	Skip to: <%= link_to "film and TV screenings", screenings_path %> <%= separator_symbol %> <%= link_to "discussion meetings", discussions_path %> <%= separator_symbol %> <%= link_to "pub meets", pub_meets_path %> <%= separator_symbol %> <%= link_to "games nights", games_nights_path %> <%= separator_symbol %> <%= link_to "speaker talks", speakers_path %> <%= separator_symbol %> <%= link_to "cinema trips", cinema_trips_path %>
  </div>
</div>