<div class="panel panel-default">
  <div class="panel-body">
	Skip to: <%= link_to "film and TV screenings", '/events/screenings/past' %> <%= separator_symbol %>
	 <%= link_to "discussion meetings", '/events/discussions/past' %> <%= separator_symbol %>
	  <%= link_to "library openings", '/events/library_openings/past' %> <%= separator_symbol %>
	   <%= link_to "pub meets", '/events/pub_meets/past' %> <%= separator_symbol %>
	    <%= link_to "games nights", '/events/games_nights/past' %> <%= separator_symbol %>
	     <%= link_to "speaker talks", '/events/speakers/past' %> <%= separator_symbol %>
	      <%= link_to "cinema trips", '/events/cinema_trips/past' %>
  </div>
</div>