<li class="item-preview">
  <div class="item-cover-preview">
    <%= link_to image_tag(event.image_url, width: "100px", height: "150px"), event %>
  </div>
  <div class="item-preview-body">
    <h2 class="item-title">
		<%= event.time.to_s(:short) %>
    <% if event.end_time.to_i > event.time.to_i %>
      - <%= event.end_time.to_s(:time) %>
    <% end %>
     <%= separator_symbol %> <%= link_to event.name, event %> <%= separator_symbol %> <%= event.activity.humanize %>
    </h2>
	<span class="event-location"><%= render "events/location", location: event.location %></span>
  	<p><%= render 'shared/truncated_text', description: event.description, path: event %></p>
  </div>

</li>