<% provide(:title, "CUSFS Games Nights") %>
<% provide :site_section, "2" %>
<h1>Games Nights</h1>

<%= render 'activities' %>

<p><%= @explanation %></p>

<% if @events.any? %>
	<%= will_paginate %>

	<ul class="events">
		<%= render @events %>
	</ul>
	<!-- TODO calendar view? -->

	<%= will_paginate %>
<% else %>
No events found.
<% end %>