<% provide(:title, @title) %>
<% provide :site_section, "2" %>
<h1><%= @title %></h1>

<%= render 'activities' %>

<p><%= @explanation.html_safe %></p>

<h2>Upcoming events</h2>
<% if @forthcoming_events.any? %>
	<%= will_paginate @forthcoming_events, page: :forthcoming_page %>

	<ul class="events">
		<%= render @forthcoming_events %>
	</ul>
	<!-- TODO calendar view? -->

	<%= will_paginate @forthcoming_events, page: :forthcoming_page %>
<% else %>
No events found.
<% end %>

<h2>Past events</h2>
<% if @past_events.any? %>
	<%= will_paginate @past_events, page: :past_page %>

	<ul class="events">
		<%= render @past_events %>
	</ul>
	<!-- TODO calendar view? -->

	<%= will_paginate @past_events, page: :past_page %>
<% else %>
No events found.
<% end %>