<% provide(:title, @title) %>
<% provide :site_section, "2" %>

<div class="content">
	<h1><%= @title %> <%= separator_symbol %> <%= link_to "view forthcoming events", @link %></h1>
</div>

<div class="content">
	<%= render 'activities_past' %>
</div>

<div class="content">
	<% if @events.any? %>
		<%= will_paginate @events %>

		<ul class="items">
			<%= render @events %>
		</ul>
		<!-- TODO calendar view? -->

		<%= will_paginate @events %>
	<% else %>
	No events found.
	<% end %>
</div>

