<% provide :title, "Reserve an item" %>
<% provide :site_section, "0" %>

<div class="content">
	<h1>Reserve an item</h1>
</div>

<div class="content">

      <%= form_for(@reservation, html: {class: "form-horizontal"}) do |f| %>
  	  <%= render 'shared/error_messages', object: f.object %>
		<%= f.hidden_field :user_id, value: current_user.id %>

		<p>Fill in this form to reserve an item in the Library if, for example:<br>
		1) you can't go to the library opening sessions. We can organise to meet you elsewhere, or get it to your pidge. Please leave any info in the box below. The Librarian will email you to confirm the handover.<br>
		2) you want an item from the library which someone else already has withdrawn. They'll be emailed to ask for it back (anonymously). This is actively encouraged; in our experience people often withdraw books and forget to read them for long periods of time, enabled by our lack of a borrowing time limit, so whoever has the book will probably happily return it.</p>

          <div class="form-group">
            <%= f.label :item_id, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
				<%= f.collection_select :item_id, Item.all, :id, :title, {}, {class: "item-select"} %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :notes, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_area :notes, class: "form-control" %>
            </div>
          </div>

          <div class="actions form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <%= f.submit "Reserve", class: "btn btn-large btn-primary" %>
            </div>
          </div>

      <% end %>

</div>

<div class="content">
	<p>Can't find the book you're looking for? Maybe we don't have it - you can <%= link_to "request it here", new_request_path %>.</p>
</div>