<% provide :title, "CUSFS Committee of #{@committee.date}" %>
<% provide :site_section, "3" %>

<div class="content content-mini">
	<%= render 'committee_selection' %>
</div>

<div class="content">
	<% if you_admin? %>
		<%= link_to "Elect a new committee", new_committee_path %>
	<% end %>
</div>

<div class="content">
	<%= render 'cusfs_committee', committee: @committee %>
</div>

<div class="content">
	<%= render 'jomscommittee', committee: @committee %>
</div>

<div class="content">
	<%= render 'vice_presidents', committee: @committee %>  
</div>