<li class="item-preview">
  <div class="item-preview-body">
    <div id="recommended<%= item.is_recommended?.to_s %>"></div>
    	<span class="item-name"><%= link_to item.pretty_name, item %></span> <%= separator_symbol %> 
      <span class-"item-author-name"><%= link_to item.author.pretty_name, item.author %>, <%= item.date %></span>
  	<br>
    <% unless item.series.blank? %>
      Book <%= item.series_number %> of the <b><%= link_to item.series.name, item.series %> series</b>
    <% end %>
  <div class="item-cover-preview">
    <%= link_to mini_cover_for(item), item %>
  </div>
  	<p><%= blurb_for item %></p>
    <div class="item-info">
      <%= render 'items/availability', item: item %> <%= separator_symbol %>
      <%= render 'items/review_preview', item: item %>
    </div>
  </div>
</li>