<li class="item-preview">
  <div class="item-cover-preview">
    <%= link_to mini_cover_for(item), item %>
  </div>
  <div class="item-preview-body">
    <h2 class="item-title">
      <div id="recommended<%= item.is_recommended?.to_s %>"></div>
    	<span class="item-name"><%= link_to item.pretty_name, item %></span> <%= separator_symbol %> 
      <span class="item-author-name"><%= link_to item.author.pretty_name, item.author %><%= ", #{item.date}" unless item.date==0 %></span>
  	  <br>
      <%= render 'items/series_info', item: item %>
    </h2>
    <% if defined? item_text %>
      <p><%= item_text %></p>
    <% else %>
    	<p><%= simple_format(blurb_for(item).to_s[0..340]) %><%= "..." if blurb_for(item).length>340 %></p>
    <% end %>
    <div class="item-info">
      <%= render 'items/availability', item: item %> <%= separator_symbol %>
      <%= render 'items/review_preview', item: item %>
    </div>
  </div>

</li>