<li>
  <div id="recommended<%= item.is_recommended? %>"></div>
  <span class="title">
  	<b><%= link_to item.title, item %></b> ¤ 	<%= link_to item.author.pretty_name, item.author %>, <%= item.date %>
  	<br>
    <% unless item.series.blank? %>
      Book <%= item.series_number %> of the <%= link_to item.series.name, item.series %> series
    <% end %>
  	<p>This book has a truly marvellous blurb, which this summary is too narrow to contain.</p>
  	<% if item.is_available? %>
  	  <%= render 'items/available', item: item %>
  	<% else %>
  	  <%= render 'items/unavailable', item: item %>
  	<% end %>
    Number of reviews and average rating here, plus whether it's on any favourites lists
  </span>
</li>