<li>
  <div id="recommended<%= item.is_recommended? %>"></div>
  <span class="title">
  	<b><%= link_to item.title, item %></b>
  	<%= item.author %>, <%= item.date %>
  	<br>
  	<p>This book is of the SFF genre!</p>
  	<p>This book has three reviews putting it at 4 stars!</p>
  	<% if item.is_available? %>
  	  <%= render 'available', item: item %>
  	<% else %>
  	  <%= render 'unavailable', item: item %>
  	<% end %>
  </span>
</li>