<%= form_for(current_user.withdrawals.build(item_id: @item.id)) do |f| %>
  <div><%= f.hidden_field :item_id %></div>
  <% if @item.editions.length>1 %>
  	<% editions = @item.editions.split(//)-@item.withdrawals.pluck(:edition) %>
    <%= f.select :edition, editions %>
  <% else %>
    <div><%= f.hidden_field :edition, value: @item.editions[0] %></div>
  <% end %>
  <% if current_user.withdrawals.length>9 %>
	  <%= f.submit "Withdraw", class: "btn btn-large btn-danger item-withdraw" %>
	  <p class="warning">!!! You already have more than the limit of 10 books out. Please return some books before pressing this button. !!!</p>
  <% else %>
	  <%= f.submit "Withdraw", class: "btn btn-large btn-success item-withdraw" %>
  <% end %>
<% end %>