<% provide(:title, "Browse #{@title.downcase}") %>
<h1>Browse <%= @title.downcase %></h1>

<%= render 'search' %>

<% if @items.any? %>
<div class="panel panel-default">
	<%= will_paginate %>
</div>

	<ul class="items">
		<%= render @items %>
	</ul>
<div class="panel panel-default">
	<%= will_paginate %>
</div>

<% else %>
No items found.
<% end %>