<% provide :title, "New entry" %>
<h1>New entry</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@item) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :title %>
			<%= f.text_field :title %>

			<%= f.label :author_id %>
	        <%= f.collection_select :author_id, Author.all, :id, :name %>

			<%= f.label :medium, "Medium" %>
	        <%= f.collection_select :medium, Item::MEDIA, :to_s, :humanize %>

			<%= f.label :date %>
			<%= f.select :date, 1850..Date.today.year, selected: Date.today.year  %>

			<%= f.label :notes %>
			<%= f.text_area :notes %>
<br>
			<%= f.submit "Add to Library", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>

<%= render 'shared/back_button', path: items_path %>