<% provide :title, "New entry" %>
<h1>New entry</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@item) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :title %>
			<%= f.text_field :title %>

			<%= f.label :author %>
			<%= f.text_field :author %>
			<!-- TODO HERE: this clearly does not work; Author isn't a text field! Instead, replace with jquery's autocomplete function; you start typing the name and it searches the authors database for input. That way we can avoid typos. -->

			<%= f.label :medium, "Medium" %>
	        <%= f.collection_select :medium, Item::MEDIA, :to_s, :humanize %>

			<%= f.label :date %>
			<%= f.text_field :date, default: Time.now.year  %>

			<%= f.label :notes %>
			<%= f.text_area :notes %>
<br>
			<%= f.submit "Add to Library", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>