<% provide :title, @item.title %>
<h1><%= @item.title %></h1>
<p>by <%= link_to @item.author.pretty_name, @item.author %></p>
<div>
  <p><%= @item.date %><br>
  	<%= @item.notes %><br>
  	<%= @item.isbn %></p>
</div>
<%= render 'availability' %>
<% if signed_in? && current_user.admin? %>
	<%= link_to "Edit", edit_item_path(@item) %>
<% end %>

<%= render 'reviews' %>

<%= render 'collections' %>