<% provide :title, @item.title %>

<div class="row">
	<aside class="span8 item-show-main">
		<h1><%= @item.title %></h1>
		<% if signed_in? && current_user.admin? %>
			<%= link_to "Edit", edit_item_path(@item) %>
		<% end %>
		<p><%= link_to @item.author.pretty_name, @item.author %></p>
		<p id="togglebtn">More v</p>
		<div class="togglediv">
			<table class="panel panel-default">
				<tr>
					<td>Date:</td>
					<td><%= @item.date %></td>
				</tr>
				<tr>
					<td>ISBN:</td>
					<td><%= @item.isbn %></td>
				</tr>
				<tr>
					<td>Notes:</td>
					<td><%= @item.notes %></td>
				</tr>
				<tr>
					<td>Tag:</td>
					<td><%= @item.tag %></td>
				</tr>
				<tr>
					<td>Copies:</td>
					<td><%= @item.editions.length %> (<%= @item.editions %>)</td>
				</tr>
			</table>
		</div>
		<div class="blurb">
			<%= blurb_for @item %>
		</div>
		<%= render 'availability' %>
		<%= render 'genre_info', item: @item %>
		<div class="item-collections">
			<%= render 'collections' %>
		</div>
	</aside>

	<div class="span4 item-show-sidebar">
		<div class="cover">
			<%= cover_for @item %>
		</div>


		<div class="item-reviews">
			<%= render 'reviews' %>
		</div>
	</div>
</div>