<% provide :title, @review.title %>
<% provide :site_section, '0' %>

<h2><%= mini_cover_for @review.topic %><%= link_to @review.topic_title, @review.topic %>: <%= @review.title %></h2>
<h3>By <%= @review.user.name %>
	<% if @review.user.id==current_user.id %>
		<%= separator_symbol %> <%= link_to "edit", edit_review_path(@review) %>
	<% end %>
</h3>
<p><%= simple_format @review.content %></p>
Verdict: <%= "★"*@review.rating.to_i %><%= "☆"*(5-@review.rating.to_i) %>