<% provide :title, "#{@series.name} series" %>
<% provide :site_section, "0" %>

<h1><%= @series.name %> series</h1>
<%= render 'is_complete', series: @series %>

<% if @items.any? %>
  <%= will_paginate @items %>
  <ul class="items">
	  <%= render @items %>
  </ul>
  <%= will_paginate @items %>
<% else %>
  Sadly, this series appears to have no items in it.
<% end %>