<footer class="footer content">
	<div class="row bordered-foot">
	  <b><%= link_to "Cambridge University Science Fiction Society", '#', class: "footer-title" %>
	  <nav>
	    <ul class="footer-main-nav">
	      <li><%= link_to "Help", help_path %></li>
	      <li><%= link_to "About", about_path %></li>
	      <li><%= link_to "Contact", contact_path %></li>
	    </ul>
	  </nav>
	</b>
	</div>
	<div class="row">
		<div class="col-md-3">
			<ul class="footer-nav">
				<li><%= link_to "History", history_path %></li>
				<li><%= link_to "Membership", membership_path %></li>
				<li><%= link_to "Committee", current_path %></li>
				<li><%= link_to "Constitution", constitution_path %></li>
				<li><%= link_to "Links", links_path %></li>
				<li><%= link_to "Archive", "/old" %></li>
			</ul>
		</div>
		<div class="col-md-3">
			<ul class="footer-nav">
				<li><%= link_to "Library openings", library_openings_path %></li>
				<li><%= link_to "Books", fiction_path %></li>
				<li><%= link_to "Authors", authors_path %></li>
				<li><%= link_to "Lists", collections_path %></li>
				<li><%= link_to "Genres", '#' %></li>
			</ul>
		</div>
		<div class="col-md-3">
			<ul class="footer-nav">
				<li><%= link_to "Creative", creative_path %></li>
				<li><%= link_to "TTBA Magazine", ttba_path %></li>
				<li><%= link_to "Chainwriting", chainwriting_path %></li>
				<li><%= link_to "Art", art_path %></li>
			</ul>
		</div>
		<div class="col-md-3">
			<ul class="footer-nav">
				<li><%= link_to "Schedule", schedule_path %></li>
				<li><%= link_to "Locations", locations_path %></li>
				<li><%= link_to "Discussion groups", discussions_path %></li>
				<li><%= link_to "Film and TV screenings", screenings_path %></li>
				<li><%= link_to "Speaker events", speakers_path %></li>
				<li><%= link_to "Games Nights", games_nights_path %></li>
			</ul>
		</div>
	</div>
</footer>
