<%= render 'layouts/cusfs_logo' %>

<header class="navbar-inverse">
  <div class="navbar-inner cusfs-uppermost-navbar">
    <%= render 'layouts/upperright_menu' %>
  </div>
  <div class="cusfs-main-menu">
    <%= render 'layouts/main_menu' %>
  </div>

  <div class="navbar-inner cusfs-library-navbar">
    <% if yield(:site_section)=="0" %>
      <%= render 'layouts/library_navbar' %>
    <% else %>
      <%= render 'layouts/general_navbar' %>
    <% end %>
  </div>

</header>
